*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:rgb(225, 255, 217);
    /*background-color: rgba(122, 223, 225, 0.3);*/
}
 
header{
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
}

h1{
    font-weight: 200;
}

.gameRow{
    display: flex;
    justify-content: center;
}


a{
    border: 2px solid black;
    background-color: rgba(224, 255, 255, 1);
    padding: 50px;
    margin: 15px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
   
 
    display: flex;
    align-items: center;
    justify-content: center;
}
 
a:hover{
    
    border: 2px solid #434343;
    transition: 0.5s;
    box-shadow: 5px 5px 3px rgba(44, 99, 151, 0.3);
    transform: scale(1.05); 
    cursor: pointer;
    background-color: rgba(224, 255, 255, 0.8);
}
 
a p {  
    color: black;
    font-size: 20px;
    text-align: center;
}








 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


#gameExplanation{
    width: 80%;
    height: 300vh;
    position: relative;
   
}

h3{
    font-weight: 100;
    font-size: small;
    align-items: center;
    justify-content: center;
    
}



 
.title{
    left: 5%;
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center;
    display: flex;
    justify-content: center; 
}


.picture{
    grid-column: 1/2;
    grid-row: 2/4;

    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}


.text{
    transform: scale(1);
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 50px;
}

button{
    background-color: pink;
    border: 2px solid black;
    
    padding: 8%;
    width: 60%;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

button p{
    font-size: large;
}

button:hover{
    background-color: palevioletred;
    box-shadow: 3px 3px #434343;
    transition: 0.5s;
    cursor: pointer;
}





.line{
    position: absolute;
    width: 2px;
    height: 50vh;
    background-color: black;
}

.left{
    left: 5%;
}
.right{
    right: 5%;
}
.game1{
    top: 5%;
}
.game2{
    top: 30%;
}
.game3{
    top: 55%;
}

.game{
    position: absolute;
    width: 70%;
    height: 50vh;
    left: 14.5%;

    top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    border: 2px solid black;

    background-color: rgba(224, 255, 255, 0.6);
    
}
    

.game:hover{
    box-shadow: 5px 5px rgba(44, 99, 151, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.02);
    transition: 1s;   
    
}
    
#tetris{
    top: 30%;
}
 
#brickBreaker{
    top: 55%;
}

.goToGame{
    grid-column: 2/3;
    grid-row: 3/4;
}


footer{
    display: flex;

    background-color: lightgreen;
    padding: 10%;
    margin: 0;

}

footer h1{


}

footer p{

}




@media(max-width: 900px) {
    
    .game{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .text{
        text-align: center;
    }

    
    .picture{
        display: none;
    }

    button{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    button p{
        font-size: large;
    }

    @media(max-width: 730px){
        
        .gameRow{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .gameRow a {
            transform: scale(1.1);
            margin-bottom: 20px; /* legg til litt avstand mellom lenkene */
        }
    }
}

