*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: lightcyan;
    
}

header{
    text-align: center;
    background-color:magenta;
    padding: 20px;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 400;
    font-style: normal;
}


div{
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}

a{
    border: 2px solid black;
    border-radius: 15px;
    padding: 50px; 
    margin: 15px;
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 7px 7px magenta;
    background-color: rgba(255, 255, 255, 0.4);
}

a p {
    opacity: 0;   
     
}


a:hover p {
    opacity: 1;
    transition: 1s;
    text-shadow: 20px 20px;
}


