
 /* Lager et format for området banen skal være på. bestemmer også at indexen går i wrap, altså mot siden*/
.container{
    display: flex;
    margin-top: 10px;
}

/* Gir alle div-ene i grid elementet en plass inennfor grid-klassen*/
.grid div{ 
    height: 30px;
    width: 30px;
}

.full{
    background-color: black;
}

.tetromino{
    background-color:rgb(249, 125, 0) ;
    
   
}

*{
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-color: rgb(122, 223, 225);
    overflow-y:unset;
}
.grid{
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(195, 255, 187);
    border: solid 2px black;
}

button{
    padding: 18px;
    background-color: pink;
}



@media(max-width: 600px) {
    .mobileControls {
        display: block; /* Viser knappene som blokk på små skjermer */
    }
    .grid div{ 
        height: 25px;
        width: 25px;    
    }
    .grid{
        width: 250px;
        height: 500px;
    }
}
@media(max-width: 400px) {
    .mobileControls {
        display: block; /* Viser knappene som blokk på små skjermer */
    }
    .grid div{ 
        height: 20px;
        width: 20px;    
    }
    .grid{
        width: 200px;
        height: 400px;
    }
    button{
        padding: 8px;
    }
}

@media(min-width: 601px) {
    .mobileControls {
        display: none; /* Skjuler knappene på større skjermer */
    }   
}

#rotateMobile {
    margin-bottom: 15px;
    margin-top: 10px;
}
#moveDownMobile {
    margin-top: 15px;
}

#gameOverMainText{
    font-size: 20px;
    margin-top: 10px;
    color: red;
    
}
#gameOverUnderText{
    margin-bottom: 10px;
    padding: 5px
    
}

nav {
    background-color:lightgreen;
    position: absolute; 
    top: 0; 
    width: 100%; 
    display: flex; 
    align-items: center;  
    padding: 8px;
}

nav a:hover {
    background-color: rgb(71, 186, 71);
    transition: 0.5s;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 0px 10px;
    background-color: lightgreen;
}
#scoreText{
    margin-top:45px;
}
#startButton{
    padding: 8px;
}