#board {
    background-color: rgb(38, 37, 37);
    border-top: 5px solid lightgreen;
    border-left: 5px solid lightgreen;
    border-right: 5px solid lightgreen;
    position: relative;
    top: 80px;
    text-align: right;
    margin-left: 300px;
}

* {
    background-color: rgb(122, 223, 225);
    margin: 0;
}

nav {
    background-color: lightgreen;
    position: absolute; 
    top: 0; 
    width: 100%; 
    display: flex; 
    align-items: center;  
}

nav a:hover {
    background-color: rgb(71, 186, 71);
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 28px;
    margin: 0px 10px;
    background-color: lightgreen;

}